:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 3px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.highlight {
	color: var(--base);
	text-shadow: 1px 1px gray;
}
